body, div { font-family:"Lato",Helvetica,sans-serif; }

body {
  width: 100%;
  height: 100%;
}

.navbar{
    /*background-color:#333;border-color:#333;*/
    background-color:#3496E1;
    border-color:#3496E1;
}

.navbar-default .navbar-brand {
  color: #d3d3d3;
}

.navbar-default .navbar-header > .navbar-btn {
  color: #d3d3d3;
  font-size: 16px;
  text-decoration: none;
  outline: none;
  border: none !important;
  box-shadow: none !important;
}

.navbar-default .navbar-header > .navbar-btn:hover,
.navbar-default .navbar-header > .navbar-btn:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.btn-primary {
  background-color: #3496E1;
  border-color: #5E82A2;
}

.header{
    background-color:#3496E1;
    color:white;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header #logo, .header #divider{font-size:2em;}
.header #logo{font-family: 'Droid Serif', serif; text-transform:uppercase;}
.header #archive{font-size:.75em;}
.header .btn{position:relative; margin-top:30px; padding:10px 30px 10px 30px;z-index:5;}
.intro h1 span {display:none;}

.intro .intro-form, .intro h4 {
  opacity: 0;
  transition: opacity 700ms linear;
}

#divider, #archive{opacity:0;display:inline-block;}
#divider{top:-100px;position:relative}
#start{margin:5vh;}
#time-navigation{display:none;}
.wrapper{margin-bottom:50px; display:none;}
/*.form-control{border:1px solid white; }*/

.intro-form div{
  font-size: 1.4em;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
}

.intro-form a{
  font-size: 0.8em;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
}


.intro-form .intro-form-label {
  text-align: right;
}

.intro-form .intro-form-label h5 {
  margin-top: 0;
}

.intro-form form input,
.intro-form form input:focus{
  border: 0;
  border-bottom: 2px solid #ffffff;
  border-color: #ffffff;
  border-radius: 0;
  background-color: transparent;
  text-align: left;
  box-shadow: none;
  color: #ffffff;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

.popover {
  margin-right: 1em;
}

#search-field .row{
  margin-bottom: 0.5em;
}


#search{display:none; padding:1%;}
.page-header{margin-top:110px;}


  #BRcontainer{
      top:-24px;
      background-color:white;
  }
  #BRpageview{
      background-color:white;
  }

  /*Styling for 2003 + search results*/
.container {
    margin-top: 2em;
}

#logo-img {
  max-height: 120%;
  max-width: 120%;
}

#results {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.res-box {
    margin-bottom: 2em;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.res-thumbnail {
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.56);
}

#search-preview{
    background-color:#2c3e50;
    height:calc(100vh - 69px);
    overflow-y:scroll;
}


/* Progress Bar */
#nprogress .bar {
  background: #ffffff;
}

#nprogress .spinner {
  top: 60px;
}

#nprogress .spinner-icon {
  border-top-color: #3496E1;
  border-left-color: #3496E1;
}
