
<div class="selected_date"></div>
	<ul class="list-group row">
		<li class="decade list-group-item col-xs-12 col-sm-4 col-lg-3"><a class="1900">1900</a></li>
		<li class="decade list-group-item col-xs-12 col-sm-4 col-lg-3"><a class="1910">1910</a></li>
		<li class="decade list-group-item col-xs-12 col-sm-4 col-lg-3"><a class="1920">1920</a></li>
		<li class="decade list-group-item col-xs-12 col-sm-4 col-lg-3"><a class="1930">1930</a></li>
		<li class="decade list-group-item col-xs-12 col-sm-4 col-lg-3"><a class="1940">1940</a></li>
		<li class="decade list-group-item col-xs-12 col-sm-4 col-lg-3"><a class="1950">1950</a></li>
		<li class="decade list-group-item col-xs-12 col-sm-4 col-lg-3"><a class="1960">1960</a></li>
		<li class="decade list-group-item col-xs-12 col-sm-4 col-lg-3"><a class="1970">1970</a></li>
		<li class="decade list-group-item col-xs-12 col-sm-4 col-lg-3"><a class="1980">1980</a></li>
		<li class="decade list-group-item col-xs-12 col-sm-4 col-lg-3"><a class="1990">1990</a></li>
		<li class="decade list-group-item col-xs-12 col-sm-4 col-lg-3"><a class="2000">2000</a></li>
		<li class="decade list-group-item col-xs-12 col-sm-4 col-lg-3"><a class="2010">2010</a></li>
	</ul>
</div>
