
<ul class="list-group">
	<li class="day list-group-item col-xs-12 col-sm-6 col-lg-6"><a id="1" class="{{ decade }} {{ year }}">January</a></li>
	<li class="day list-group-item col-xs-12 col-sm-6 col-lg-6"><a id="2" class="{{ decade }} {{ year }}">February</a></li>
	<li class="day list-group-item col-xs-12 col-sm-6 col-lg-6"><a id="3" class="{{ decade }} {{ year }}">March</a></li>
	<li class="day list-group-item col-xs-12 col-sm-6 col-lg-6"><a id="4" class="{{ decade }} {{ year }}">April</a></li>
	<li class="day list-group-item col-xs-12 col-sm-6 col-lg-6"><a id="5" class="{{ decade }} {{ year }}">May</a></li>
	<li class="day list-group-item col-xs-12 col-sm-6 col-lg-6"><a id="6" class="{{ decade }} {{ year }}">June</a></li>
	<li class="day list-group-item col-xs-12 col-sm-6 col-lg-6"><a id="7" class="{{ decade }} {{ year }}">July</a></li>
	<li class="day list-group-item col-xs-12 col-sm-6 col-lg-6"><a id="8" class="{{ decade }} {{ year }}">August</a></li>
	<li class="day list-group-item col-xs-12 col-sm-6 col-lg-6"><a id="9" class="{{ decade }} {{ year }}">September</a></li>
	<li class="day list-group-item col-xs-12 col-sm-6 col-lg-6"><a id="10" class="{{ decade }} {{ year }}">October</a></li>
	<li class="day list-group-item col-xs-12 col-sm-6 col-lg-6"><a id="11" class="{{ decade }} {{ year }}">November</a></li>
	<li class="day list-group-item col-xs-12 col-sm-6 col-lg-6"><a id="12" class="{{ decade }} {{ year }}">December</a></li>
</ul>
